.place__title {
    font-size: 72px;
    line-height: 1;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 900;
    grid-area: title;
    align-items: end;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 720px) {
    .place__title {
        padding: 0 16px 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}
