.photo-grid {
  display: grid;
  max-width: 1280px;
  padding: 0 48px 0;
  grid-template-columns: repeat(4,1fr);
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3,1fr);
  }
}

  @media screen and (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(2,1fr);
      padding: 0 24px 0;
    }
  }

    @media screen and (max-width: 425px) {
      .photo-grid {
        grid-template-columns: repeat(1,1fr);
        row-gap: 12px;
        padding: 0 16px 0;
      }
    }
