.places {
    width: 100%;
    padding: 12px 148px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .places {
        padding: 12px 48px 0;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding: 15px 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding: 15px 0 0;
    }
}
