.header {
  max-width: 1280px;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 56px;
  }

@media screen and (max-width: 425px) {
  .header {
      padding: 16px 16px 56px;
  }
