.footer__link {
color: white;
font-size: 16px;
line-height: 18px;
font-weight: 400;
margin: 0 18px 0 0;
text-decoration: none;
}

.footer__link:last-child {
  margin: 0;
}

@media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px;
    display: block;
  }
}
