.place__paragraph {
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0 0 26px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 920px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) {
    .place__paragraph {
        padding: 0 16px;
    }
    .place__paragraph:first-child {
        padding-top: 32px;
    }
}
