.lead__image {
 object-fit: contain;
 object-position: 2% 14.6%;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/lead-polka.jpg);
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 62.5vw;
}

