.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 0 0 64px;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 40px;
        padding: 0 16px 0;
    }
}
