.cover__background {
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/cover-trains.jpg);
  position: relative;
  left: 0;
  top: 0;
  width: 1184px;
  height: 740px;

}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}
