.cover__background {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/cover-trains.jpg);
    position: relative;
    left: 0;
    top: 0;
    max-width: 1184px;
    max-height: 740px;
    width: 100vw;
    height: 62.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2a2c2f;
    opacity: 0.3;
}

.cover__background:hover::before {
    opacity: 0.8;
}
