.place {
    padding: 80px 148px 0;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, max-content);
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas: "title website " "image paragraph";
}

@media screen and (max-width: 1024px) {
    .place {
        padding: 80px 48px 0;
        column-gap: 32px;
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        grid-template-rows: minmax(min-content, max-content) minmax(340px, max-content);
    }
}

@media screen and (max-width: 768px) {
    .place {
        padding: 72px 24px 0;
        column-gap: 28px;
        grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
        grid-template-rows: minmax(min-content, max-content) minmax(320px, max-content);
    }
}

@media screen and (max-width: 720px) {
    .place {
        padding: 49px 0 0;
        display: block;
    }
}
