.footer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px;
    align-items: flex-end;
    *
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 64px 16px 24px;
        display: block;
    }
}
