div, p, h1,h2,h3,section,ul,li {
  border: 1px solid red;
}


@media screen and (max-width: 1024px) {
  .lead__title {
   /* font-size: 40px;
    line-height: 44px;
   /* min-width: 320px;*/

  margin:0 0 16px;

  }
}

@media screen and (max-width: 768px) {
  .lead__title {
   /* font-size: 40px;
    line-height: 44px;*/
   /* min-width: 320px;*/

  margin:0 0 16px;

  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
   /* min-width: 320px;*/

  margin:0 0 16px;

  }
}


.photo__info:nth-child(3) {
  display: none;
}


@media screen and (min-width: 768px) {
  .photo {
      padding: 121px 38px 78px 90px;
  }
  .photo__title {
      font-size: 72px;
      line-height: 76px;
      margin-bottom: 18px;
  }

  .photo__info {
      font-size: 18px;
      line-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .photo {
      padding: 196px 90px 30px 90px;
      max-width: 1184px;
      max-height: 740px;
      margin: 0 auto;
  }

  .photo__title {
      margin-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .photo {
      padding-top: 214px;
  }

  .photo__title {
      margin-bottom: 32px;
  }

  .photo__info {
      margin-bottom: 15px;
  }

  .photo__info:nth-child(3) {
      display: block;
  }
}

