.intro__title {
    font-size: 54px;
    line-height: 58px;
    color: white;
    padding: 0;
    margin: 0;
    font-weight: 900;
    margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 240px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 240px;
    }
}
